/* CSS Geral do website */

/* Define a cor de fundo do site como preto */
body {
    background-color: black; /* Tema escuro alternativo: #282A35*/
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 0;
}

hr {
    color: gold;
    height: 2px;
    background-color: gold;
}

/* propriedades gerais de links no website */
a {
    color: white;
    text-decoration: none;
}

/* Adicionar linha e mudar cor para 'gold' ao passar por cima de links*/
a:hover {
    color: gold !important;
    /* Obs: O '!important é para que continue funcionando mesmo que a cor seja mudada com javascript */
}

/*Faz com que o texto das páginas (divs) da classe 'aba' (páginas) sejam brancos e alinha o texto ao centro*/
.aba {
    margin-top: 12%;
    color: white;
    padding: 0% 15%;
    font-size: 18px;
}



/* ------------------------------------------------------------------------------------------ */



/* CSS da NAVBAR */

/* Fixa a NavBar no topo */

/*Alterar as características das abas da navbar*/

.navbar {
    overflow: hidden;
    position: fixed;
    /* Define o maior z-index do site (no momento 3) */
    z-index: 3;
    top: 0;
    /* Faz com que o tamanho da Navbar seja de 100% da visão do usuário na horizontal e 20% da visão do usuário na vertical */
    width: 100vw;
    height: 20vh;
    background-color: black; /* Tema escuro alternativo: #282A35*/
    /* Torna a Navbar um pouco opaca, para melhorar o design no scroll down */
    opacity: 0.9;
    border-bottom: 4px solid gold;
}

.navbar a {
    color: white;
    /* retira o underline sob os links */
    text-decoration: none;
    font-size: 25px;
    /* adiciona espaçamento entre as abas */
    padding: 15px 2%;
    /* coloca as abas no meio em relação a imagem */
    vertical-align: middle;
    display: inline-block;
}

.navbar a:not(#logo):hover {
    background-color: rgb(108, 108, 108); 
    transition: 0.1s;
    border-radius: 20px;
}



/* ------------------------------------------------------------------------------------------ */



/* CSS da Aba Contato */

/* define que a cor de todos os títulos principais (h1) será 'gold' */

#projeto p {
    margin-left: 0%;
}

#projeto h1 {
    color: gold;
}

/* define que a cor de todos os subtítulos (h2) será branca */
#projeto h2 {
    color: white;
}



/* ------------------------------------------------------------------------------------------ */


/* CSS da Aba do Mapa Interativo  */

#mapainterativo h1 {
    color: gold;
    /* Garantir que o título do mapa interativo ficará por cima dos elementos do mapa*/
    position: absolute;
    z-index: 2;
}

#divmap {
    /* Tornar o mapa interativo um dos últimos elementos na pilha horizontal*/
    position: absolute;
    z-index: 1;
}

/* CSS da Div com as informações*/
#infoastros {
    position: absolute;
    top: 23%;
    right: 2%;
    background-color: black;
    border: 3px solid white;
    padding: 0.5%;
    border-radius: 6px;
    /* Designa um valor no eixo horizontal maior do que o do mapa, para que os planetas não passem por cima do Box */
    z-index: 2;
}

#infoastros li strong {
    color: rgb(119, 119, 119);
}

#infoastros img {
    /* Manter a imagem do Box Informativo mais ao centro */
    padding-top: 8%;
    float: center;
}

#infoastros #fechar {
    /* Posiciona o botão no canto superior direito */
    position: absolute;
    top: 1%;
    right: 5%;
    /* Torna a borda do botão mais arredondada */
    border-radius: 5%;
    background-color: lightgray;
    color: rgb(0, 0, 0);
}

#infoastros #passar {
    /* Posiciona o botão no centro do lado direito */
    position: absolute;
    top: 50%;
    right: 5%;
    /* Torna a borda do botão mais arredondada */
    border-radius: 5%;
    background-color: lightgray;
    color: rgb(0, 0, 0);
}

#infoastros h2 h3 {
    color: rgb(201, 201, 201);
    padding-left: 5%;
    position: absolute;
}


/* Animações dos Planetas */

.sol {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 100px yellow;
    height: 100px;
    width: 100px;
}

.mercurio {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #d35400;
    height: 35px;
    width: 35px;
    margin-left: -1px;
    margin-top: -10px;
    border-radius: 50%;
    box-shadow: 0 0 40px #684d3a;
    /* Detalhes da Animação*/
    animation: orbitamercurio 10s linear infinite;
    transform: rotate(-50%, -50%);
    /* O ponto ao redor do qual o planeta irá rodar */
    transform-origin: 60px 60px;
}

.venus {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #f39c12;
    height: 45px;
    width: 45px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    box-shadow: 0 0 40px #f39c12;
    /* Detalhes da Animação*/
    animation: orbitavenus 16s linear infinite;
    transform: rotate(-50%, -50%);
    /* O ponto ao redor do qual o planeta irá rodar */
    transform-origin: 50px 50px;
}

.terra {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #3779a5;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50%;
    box-shadow: 0 0 40px rgb(152, 152, 245);
    /* Detalhes da Animação*/
    animation: orbitaterra 20s linear infinite;
    transform: rotate(-50%, -50%);
    /* O ponto ao redor do qual o planeta irá rodar */
    transform-origin: 70px 70px;
}

.lua {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #7f8c8d;
    height: 25px;
    width: 25px;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    box-shadow: 0 0 20px #7f8c8d;
    /* Detalhes da Animação*/
    animation:  orbitalua 14s linear infinite;
    transform: rotate(-50%, -50%);
    /* O ponto ao redor do qual o planeta irá rodar */
    transform-origin: 25px 25px;
}

.marte {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #d65243;
    height: 40px;
    width: 40px;
    margin-left: -20px;
    margin-top: -10px;
    border-radius: 50%;
    box-shadow: 0 0 40px #e74e3c;
    /* Detalhes da Animação*/
    animation: orbitamarte 24s linear infinite;
    transform: rotate(-50%, -50%);
    /* O ponto ao redor do qual o planeta irá rodar */
    transform-origin: 70px 70px;
}

.jupiter {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    height: 90px;
    width: 90px;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    box-shadow: 0 0 20px #e7d1a7;
    /* Detalhes da Animação*/
    animation: orbitajupiter 40s linear infinite;
    transform: rotate(-50%, -50%);
    /* O ponto ao redor do qual o planeta irá rodar */
    transform-origin: 80px 80px;
}

.saturno {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    height: 80px;
    width: 80px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    /* Detalhes da Animação*/
    animation: orbitasaturno 60s linear infinite;
    transform: rotate(-50%, -50%);
    /* O ponto ao redor do qual o planeta irá rodar */
    transform-origin: 80px 80px;
}

.urano {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    height: 54px;
    width: 54px;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50%;
    /* Detalhes da Animação*/
    animation: orbitaurano 80s linear infinite;
    transform: rotate(-50%, -50%);
    /* O ponto ao redor do qual o planeta irá rodar */
    transform-origin: 80px 80px;
}

.netuno {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #34395e;
    height: 56px;
    width: 56px;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50%;
    box-shadow: 0 0 40px #3498bd;
    /* Detalhes da Animação*/
    animation: orbitanetuno 100s linear infinite;
    transform: rotate(-50%, -50%);
    /* O ponto ao redor do qual o planeta irá rodar */
    transform-origin: 80px 80px;
}

/* Configurações das Orbitas */

/* Animação da órbita de Mercúrio*/
@keyframes orbitamercurio {
    from {
        transform: rotate(0deg) translateX(140px)
    }
    to {
        transform: rotate(360deg) translateX(140px)
    }
}
/* Animação da órbita de Vênus */
@keyframes orbitavenus {
    from {
        transform: rotate(0deg) translateX(220px)
    }
    to {
        transform: rotate(360deg) translateX(220px)
    }
}
/* Animação da órbita da Terra */
@keyframes orbitaterra {
    from {
        transform: rotate(0deg) translateX(300px)
    }
    to {
        transform: rotate(360deg) translateX(300px)
    }
}
/* Animação da órbita da Lua */
@keyframes orbitalua {
    from {
        transform: rotate(0deg) translateX(55px);
    }
    to {
        transform: rotate(360deg) translateX(55px)
    }
}
/* Animação da órbita de Marte */
@keyframes orbitamarte {
    from {
        transform: rotate(0deg) translateX(390px)
    }
    to {
        transform: rotate(360deg) translateX(390px)
    }
}
/* Animação da órbita de Júpiter*/
@keyframes orbitajupiter {
    from {
        transform: rotate(0deg) translateX(460px)
    }
    to {
        transform: rotate(360deg) translateX(460px)
    }
}
/* Animação da órbita de Saturno */
@keyframes orbitasaturno {
    from {
        transform: rotate(0deg) translateX(580px)
    }
    to {
        transform: rotate(360deg) translateX(580px)
    }
}
/* Animação da órbita de Urano */
@keyframes orbitaurano {
    from {
        transform: rotate(0deg) translateX(670px)
    }
    to {
        transform: rotate(360deg) translateX(670px)
    }
}
/* Animação da órbita de Netuno */
@keyframes orbitanetuno {
    from {
        transform: rotate(0deg) translateX(770px)
    }
    to {
        transform: rotate(360deg) translateX(770px)
    }
}


/* ---------------------------------------------------------------------------------------------- */



/* CSS da Aba de Notícias */

/* Aumenta o a largura da div para abrigar melhor os conteúdos */
#noticias {
    padding: 0% 20%;
}

/* define a cor dos títulos principais (h1) para 'gold' */
#noticias h1 {
    color: gold;
}

/* define que todos os subtítulos (h2) e parágrafos terão cor branca e os afasta das bordas por estas porcentagens */
#noticias h2, h3, p {
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

/* define as características do div de notícias, tal como sua cor de fundo, curvatura, largura e cor de borda*/
#noticias_layout {
    padding: 1% 0%;
}

/* centraliza o título da notícia e determina seu tamanho de fonte e cor */
.feed_a {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(230, 230, 230);
}

/* centraliza as imagens do div de noticias */
.feed_img {
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    width: 130px;
    height: 130px;
    border-radius: 5px;
    border: 2px solid white;
    transition: 0.5s;
}

/* Faz com que, quando o usuário passe o mouse sobre a imagem, ela aumente de tamanho*/
.feed_img:hover {
    height: 140px;
    width: 140px;
    transition: 0.2s;
}

/* Configurações das divs que contém as notícias */
.news {
    left: 0%;
    margin-top: 2%;
    margin-bottom: 3%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2%;
    background-color: rgb(63, 63, 63);
}

/* O que deve ser feito quando o usuário passar o mouse sobre uma destas divs */
.news:hover {
    background-color: rgb(121, 121, 121);
    transition: 0.4s;
}

/* ------------------------------------------------------------------------------------------- */



/* CSS da Aba de Contato */

/* estilo, design e características da aba contato*/

.conteudo {
    display: table;
}


/* define as cores dos titulos h1 e h2 */
#contato h3{
    color: gold;
    font-size: 37px;
    margin-right: 30%;
}

#contato p, h3{
    margin-left: 0%;
    font-size: 120%;
}


.texto{
    display: table-cell;
}
.formulario{
    display: table-cell;
}

/* adiciona as características de formulário e adiciona um 'padding' para dar espaço entre o texto e a borda */
#form_contato {
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 2px 6px;
}

/* para todas as tags input dentro da div contato, estas características são as padrões */
#contato input {
    font-size: 20px;
    height: 50px;
    width: 500px;
    color: white;
    border-color: white;
    background-color: #282A35;
    border-radius: 10px;
}


#contato textarea {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    height: 200px;
    width: 500px;
    color: white;
    border-color: white;
    background-color: #282A35;
    border-radius: 10px;
}


/* No caso específico da tag input de ID 'contato_enviar' (botão de enviar) estas características são sobrepostas */
#contato_enviar {
    background-color: rgb(56, 56, 56);
    margin-top: 15px;
    height: 50%;
    width: 100px;
    color: lightgray;
    border-radius: 10px;
    font-size: 20px;
}

#contato placeholder {
    font-family: 'Source Sans Pro', sans-serif;
}